/* FONT SIZE SYSTEM (px) 
11.11px / 13.33px / 16px / 19.2px / 23.04px / 27.65px / 33.18px / 39.81px / 47.78px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #475569;
  overflow-x: hidden;
  line-height: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;
  background-color: rgba(229, 225, 225, 0.404);
}

/* ==========================================
   LOGO
========================================== */
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  gap: 1rem;
  text-decoration: none;
  transition: all 0.1s ease;
}

.logo:hover {
  opacity: 0.85;
}

.logo-icon {
  font-size: 2rem;
  color: #475569;
  transition: all 0.1s ease;
}

.logo:hover .logo-icon {
  transform: translateY(90deg);
}

.logo span {
  color: #475569;
  font-size: 1.8rem;
}

.first_hero_btn .booking-submit:link,
.first_hero_btn .booking-submit:visited {
  text-decoration: none;
  background-color: rgba(229, 225, 225, 0.404);
  padding: 8px 16px;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.3s ease;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #2563eb;
}

.section-hero {
  background-image:
    linear-gradient(rgba(190, 208, 249, 0.5), rgba(233, 239, 253, 0.5)),
    url("./img/robertwaghorn-plane-2899225.jpg");

  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 9.6rem 0;
}

.hero {
  margin: 0 auto;
  width: 130rem;
  height: auto;
  align-items: center;
  gap: 1rem;
  padding: 30rem 0 5rem 0;
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

span {
  font-weight: 700;
  font-size: 7rem;
}

.hero-actions {
  max-width: fit-content;
}

.first_hero_btn {
  background-color: rgba(229, 225, 225, 0.404);
  padding: 12px 16px;
  color: #475569;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.first_hero_btn:hover,
.first_hero_btn:active,
.hero-btn-head:hover,
.hero-btn-head:active {
  background-color: rgba(229, 225, 225, 0.563);
  transform: translateY(-0.3rem);
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 150px;
}

.hero_booking_form {
  margin: 2rem 0 2rem 0;
  display: flex;
  gap: 1rem;
}

.hero-btn-head {
  display: inline-block;
  width: 250px;
  background-color: rgba(229, 225, 225, 0.404);
  color: #475569;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.dark {
  background-color: #495057;
  display: inline-block;
  width: 100px;
  color: #475569;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 1.2rem;
  font-weight: 700;
}

.hero-btn-sub-head {
  width: 280px;
  line-height: 1.5;
  color: #475569;
  text-decoration: none;
  font-weight: 400;
}
.sub-book-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.book {
  color: #fff;
  transition: all 0.3s ease;
  /* display: flex; */
  justify-content: space-between;
  display: inline-block;
}

.book:hover {
  color: #495057;
  /* transition: all 0.3s ease;
  justify-content: space-between;
  display: inline-block; */
}

ion-icon:hover {
  transform: translateX(10px);
}

.sub-book {
  transition: all 0.3s ease;
  font-size: 20px;
}

.quick-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quick-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
